{% extends 'passwords/layout.html' %}

{% block body %}

<h1 class="text-center text-4xl font-bold mb-3">Login</h1>

{% if msg %}
<h4 class="text-xl mb-7 text-red-500">{{ msg }}</h4>
{% endif %}
<form class="flex items-center mb-5 justify-center flex-col" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input type="text" class="bg-gray-50 border my-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="username" id="username" placeholder="username">
    <input type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="password" id="password" placeholder="password">
    <input type="submit" class="bg-blue-500 hover:bg-blue-700 my-2 text-white font-bold py-2 px-4 rounded" value="Login">
</form>

<a class="text-blue-500 hover:text-blue-700 font-medium hover:underline" href="{% url 'register' %}">Register</a>
{% endblock %}